.header_stick{
    
    font-family: 'Raleway', sans-serif;

    /* background-color: rgb(37, 255, 164); */
    background-color: rgb(88, 196, 136);
    color:rgb(11, 173, 87);
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform-style: preserve-3d;
    
}
.name_shop{
    position: relative;
    cursor: pointer;
    
}
.list{
    list-style: none;
    display: flex;
    gap:40px;
    
       
}
.list > *{
    position: relative;
    font-weight: 600;
    font-size: 20px;
    text-shadow: 0px 0px 0px rgb(0, 0, 0);
    
}

@media screen and (max-width: 1000px){
    .name_shop{
        font-size: 100%;
        font-weight: 500;
    }

    .list{
        list-style: none;
        display: flex;
        gap:20px;
        
           
    }
    .list > *{
        position: relative;
        font-weight: 500;
        font-size: 13px;
        
        
    }
}