

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;900&display=swap');

    
.Start_screen{
    
    /* background-color: rgb(37, 255, 164); */
    background-color: rgb(88, 196, 136);
    height: 85%;
    display: flex;
    
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'Raleway', sans-serif;
   
}

.Main_text{
    position: relative;
}
.Home_text_block{
    height: 80%;
    width: 90%;

    display: flex;
    justify-content:space-around;
    align-items: center;
    position: relative;

    font-size: 30px;
    background-color: rgb(88, 196, 136);
    color:rgb(54, 163, 105);

    transform-style: preserve-3d;
  
}
.Around_shop_button{
    width: 202px;
    padding-bottom: 18px;
    margin-top: 40px;
    
   padding-right: 10px;
}
.Shop_Btn{
  
    height: 90px;
    width: 200px;
    transform-style: preserve-3d;
    z-index: 999;
   cursor: pointer;
   font-size: 20px;
   letter-spacing: 6px;
   background-color: #ddd;
   position: relative;
  
}

.block{
  
    z-index: 1;
  
}
@media screen and (max-width: 1000px){
    .Home_text_block{
      
        font-size: 15px;
      
       
    }
    .Around_shop_button{
        width: 110px;
       
        padding-bottom: 18px;
        margin-top: 40px;
        
       padding-right: 10px;
    }
    .Shop_Btn{
      
        height: 70px;
        width: 100px;
        transform-style: preserve-3d;
        z-index: 999;
       cursor: pointer;
       font-size: 15px;
       letter-spacing: 6px;
       background-color: #ddd;
       position: relative;
      
    }
}